
.about {
    padding: 50px 20px;
    text-align: center;
    overflow: hidden; 
  }
  
  .about h2 {
    font-size: 2em;
    transition: color 0.4s ease, transform 0.4s ease;
    margin: 0 0 20px 0; 
    animation: slideIn 1s ease-in-out;
  }
  
  .about h2:hover {
    color: #007bff;
    transform: scale(1.05); 
  }
  
  .about p {
    font-size: 1.1em;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
  }
  
  
  /* Keyframes */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    .about h2 {
      font-size: 1.5em;
    }
  
    .about p {
      font-size: 1em;
    }
  }
  
  